
<ion-view view-title="Description">
  <div class="bar bar-header bar-balanced">
  <h1 class="title">bar-balanced</h1>
</div><ion-content>
    
  <p>Berbere is a spice mixture whose constituent elements usually include chili peppers, garlic, ginger, basil, korarima, rue, ajwain or radhuni, nigella, and fenugreek.[1][2][3] It is a key ingredient in the cuisine
Fifir
tibs
mitmita
 </p>
  </ion-content>
</ion-view>
